.start-column-item {
  background: #80c1ff
}

.deleting-item {
  background: #ffb8b8
}

.in-progress-column-item {
  background: #ffc38b
}

.freezed-item {
  background: #ccc
}

.done-column-item {
  background: #bdff91
}